*{margin:0px; padding: 0px; letter-spacing: -1; color:#222}
html, body{width: 100%; height: 100%;}
.team-viewer-main{width: 100%; height: 100%;}
.team-viewer-main ul{list-style: none;}
.team-viewer-main a{text-decoration: none;}
.team-viewer-main .clearfix:after{content: ''; display: block; clear: both}

.team-viewer{width:100%; height: 100%; overflow: hidden;}
.header{
    width:100%;
    height:58px; 
}
.on-air{
    width:100%; 
    line-height: 58px;
    margin: 0 auto; 
    position: relative; 
    background: rgb(212,85,74);
    background: linear-gradient(90deg, rgba(212,85,74,1) 0%, rgba(196,30,8,1) 100%);
    color:#fff;
}
.on-air ul{position: absolute; top:0px; left:25px;}
.on-air ul li{float: left; margin-left: 8px; color:#fff;}
.on-air ul li:first-child{margin-left: 0px;}
.on-air ul li:first-child:after{
    content: '';
    display: inline-block;
    border-right: 1px solid #fff;
    width:1px; height: 12px;
    margin-left: 8px;
}
.on-air ul li span.number{font-weight: bold; color:#fff}
.on-air h3{text-align: center; font-size: 2em; color:#FDEBEB;}

.reservation-w{width:100%; height: calc(100% - 58px); overflow: hidden;}
.reservation-w li{float: left;}
.reservation-w .left{width:calc(100% - 395px); height: 100%; }
.reservation-w .left .top-area{
    width:100%; 
    height: 98px; 
    line-height: 49px; 
    background-color: #fff;
    position: relative;
}
.reservation-w .left .top-area .dateTeamArea .date-area{text-align: center; height: 49px;}
.reservation-w .left .top-area .dateTeamArea .date-area span.date{font-size: 1.5em;}
.reservation-w .left .top-area .dateTeamArea .team-pick-btn{     
    position: absolute;
    top:0px; right:14px;
    height: 49px;
}
.reservation-w .left .top-area .team-pick-btn a{color:#222; font-weight: bolder; font-size: 1.2em;}

.reservation-w .left .bot-area{
    width:100%;
    height: calc(100% - 98px);
    overflow: scroll;
}
.reservation-w .left .bot-area table{
    border-spacing: 0; 
    border-collapse:collapse; 
    width:100%; height: auto; align-content: center
}
.reservation-w .left .bot-area table td{
    border: 1px solid #ccc;
    border-left: 0px;
}
.reservation-w .left .bot-area table td:first-child{border-left: 0px;}
.reservation-w .left .bot-area table td:last-child{border-right: 0px;}
.reservation-w .left .top-area .reserv-title{
    height: 47px;
    background-color: #FCFAF4;
    border-top: 1px solid #D89F6C;
    border-bottom: 1px solid #D89F6C;
    border-right: 0px;
    border-left: 1px solid #D89F6C;
    position:relative;
}
.reservation-w .left .top-area .reserv-title div{  
    width:100%;  
    height: 100%;
    display: table-cell;
    text-align: center; 
}
.reservation-w .left .top-area .reserv-title div:first-child{
    border-right: 2px solid #D89F6C;
    width:115px;
    text-align: center;
}
.reservation-w .left .top-area .reserv-title div:last-child{
    width:calc(100% - 115px);
    position: absolute;
    top: 0px;
    left: 117px;
}
.reservation-w .left .bot-area table td.time{
    text-align: center; 
    font-size: 1.2em;
    font-weight: normal;
    border-right: 2px solid #D89F6C;
    border-left:1px solid #D89F6C;
    width:115px; height: 110px;
}
.reservation-w .left .bot-area table td.reserv{
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 0.93em;
}

.reservation-w .right{
    width:395px; height: 100%;
    background-color: #FCFAF4;  
    border-left:1.4px solid #D89F6C;
    padding: 18px 20px;
    box-sizing: border-box;
}
.reservation-w .right .treatment-btn{
    text-align: center; 
    padding-bottom: 26px; 
    border-bottom: 1px solid #ddd;
    width:355px;
}
.reservation-w .right .treatment-btn a{
    width:172px; height: 65px;
    display: inline-table;    
    border-radius: 5px;
    font-size: 22px;
    line-height: 65px;    
    font-weight: bold
}
.reservation-w .right .treatment-btn a.treatment-start-btn{
    background: rgb(212,85,74);
    background: linear-gradient(90deg, rgba(212,85,74,1) 0%, rgba(196,30,8,1) 100%);
    color:#fff;
}
.reservation-w .right .treatment-btn a.treatment-end-btn{
    background-color: #fff;
    border: 1px solid rgb(212,85,74);
    color: rgb(212,85,74);
}

.reservation-w .right .patient-info{width:355px; padding: 20px 0;}
.reservation-w .right .patient-info h4{font-size: 25px; font-weight: bold; margin-bottom: 20px;}
.reservation-w .right .patient-info .info-box{padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.reservation-w .right .patient-info .info-box ul{}
.reservation-w .right .patient-info .info-box ul li{width:100%; margin-bottom: 5px;}
.reservation-w .right .patient-info .info-box ul li:last-child{margin-bottom: 0px;}
.reservation-w .right .patient-info .info-box ul li span{
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    margin: 0px;
}
.reservation-w .right .patient-info .info-box ul li span.info-title{
    width:150px; 
    line-height: 31px;
    display: table-cell;
    font-weight: bold;
}
.reservation-w .right .patient-info .info-box ul li span.info-subbox{
    width:205px;
    display: table-cell;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 13px;
    border: 1px solid #D89F6C;
}
.reservation-w .right .patient-info .subject-box{padding: 20px 0;}
.reservation-w .right .patient-info .memo-box{padding: 20px 0;}
.reservation-w .right .patient-info .memo-box ul{}
.reservation-w .right .patient-info .memo-box ul li{margin-bottom: 15px;}
.reservation-w .right .patient-info .memo-box ul li:last-child{margin-bottom: 0px;}
.reservation-w .right .patient-info .memo-box ul li span.info-title{
    line-height: 14px;
    height: 14px;
    margin-bottom: 5px;
    display: block;
}
.reservation-w .right .patient-info .memo-box ul li span.info-subbox{
    width:355px; height: 105px;
    display: block;
    line-height: 18px;
    padding: 16px 10px;
    box-sizing: border-box;
}

.reservation-w .right .patient-btn{
    text-align: center; 
    padding-top: 10px;
    width:355px;
}
.reservation-w .right .patient-btn a{
    width:175px; height: 44px;
    display: inline-table;    
    border-radius: 5px;
    font-size: 15px;
    line-height: 44px;    
    font-weight: bold;
    text-align: center;    
}
.reservation-w .right .patient-btn a.booking-btn{
    background: #D89F6C;
    color:#fff;
    height: 46px;
}
.reservation-w .right .patient-btn a.notice-btn{
    width:172px;
    background-color: #fff;
    border: 1px solid #D89F6C;
    color: #D89F6C;
}


















